@{
    ViewData["Title"] = "About Us";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IMZA Racing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeManagementAPI.styles.css" asp-append-version="true" />
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/slick.css" />

    <link href="css/tooplate-little-fashion.css" rel="stylesheet">
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>




    <header class="site-header section-padding d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-12">
                    <h1>
                        <span class="d-block text-primary">About Us</span>
                        
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <section class="faq section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12">
                    <h2>The Founder</h2>
                    <div class="accordion-body">
                        <p class="large-paragraph"><strong>IMZA Racing</strong> IMZA Racing was founded by <strong>Zackery Adam</strong>, a passionate motorcycling enthusiast with a deep commitment to excellence in the world of motorsports. With years of experience in the industry, he set out to create a company that combined precision engineering with a love for high-performance motorcycles.</p>

                    </div>

                    <h2 class="mt-5">IMZA <span> Racing</span></h2>

                    <div class="accordion-body">
                        <p class="large-paragraph">Established in Kuala Lumpur, Malaysia in 2023, <strong>IMZA Racing</strong> began as a small workshop providing services and repairs to individuals with bike issues, which later on focused on offering top-tier repairs, performance upgrades, and custom builds for motorcyclists who demand nothing less than the best. Over the years, the company has grown into a trusted name in the local motorcycling community, known for its dedication to quality, innovation, and customer satisfaction. Today, IMZA Racing continues to push the boundaries of performance, offering services and products that cater to the needs of every rider—from casual enthusiasts to seasoned racers.</p>

                    </div>

                </div>

            </div>
        </div>
    </section>



    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Headroom.js"></script>
    <script src="~/js/jQuery.headroom.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/custom.js"></script>

</body>

</html>
